:root {
  --white-color: #fff;
  --black-color: #000;
  --border-color: #dbdbdb;
  --navbar-height: 32px;
  --header-height: 120px;
  --margin-left-search: 12px;
  --star-gold-color: #ffce3d;
  --header__sort-bar-height: 46px;
  --scrollbar-primary-color: #42d8f3;
  --text-color: #ebc8c8;
  --primary-color: rgb(0, 153, 255);
}

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
