:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --primary-color: #f42;
  --navbar-height: 32px;
  --header-height: 120px;
  --margin-left-search: 12px;
  --star-gold-color: #ffce3d;
  --header__sort-bar-height: 46px;
}

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
